.form-page {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.form-page form {
    max-width: 80%;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0 ,0, 0.08);
    background-color: #F2F2F2;
}

.form-page h2 {
    padding-bottom: 42px;
}
